<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Poco.Foundation.vs150.noarch" version="1.10.1" targetFramework="native" />
  <package id="Pocoproject.OpenSSL.vs120.x64" version="1.1.0" targetFramework="native" />
  <package id="Pocoproject.OpenSSL.vs120.x86" version="1.1.0" targetFramework="native" />
</packages>